<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<!-- TODO: order all messages by :date in descending order in the controller -->

<%= link_to 'New Message', new_message_path %>

<table>
  <tbody>
    <% @messages.each do |message| %>
      <% video_data = getVideoDataFrom(message.link) %>
      <tr>
        <td><%= message.date.strftime('%Y年%m月%d日') %></td>
        <td><%= link_to truncate(video_data[:title], length: 30), message_path(message) %></td>
        <% if authorized? %>
          <td><%= link_to 'Edit', edit_message_path(message) %></td>
          <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @messages %>
