<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<!-- TODO: order all messages by :date in descending order in the controller -->

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title(from link)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <% video_data = getVideoDataFrom(message.link) %>
      <tr>
        <td><%= message.date.strftime('%Y年%m月%d日') %></td>
        <td><%= video_data[:title] %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>

<!-- TODO: paginate messages by 10 with kaminari -->
