<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<!-- TODO: order all messages by :date in descending order in the controller -->

<%= if authorized? then link_to 'New Message', new_message_path end %>


<div id="messages_container">
  <% @messages.each do |message| %>
    <% video_data = getVideoDataFrom(message.link) %>
    <div id="<%= video_data[:id] %>_container">
      <span><%= message.date.strftime('%Y年%m月%d日') %></span> |
      <span><%= link_to truncate(video_data[:title], length: 30), message_path(message) %></span><br/>
      <%= link_to image_tag(video_data[:image]), message_path(message), id: video_data[:id] + "_image" %>
      <% if authorized? %>
        <%= link_to 'Edit', edit_message_path(message) %> |
        <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
    <br/>
  <% end %>
</div>

<br>

<%= paginate @messages %>
