<!-- TODO: Delete? Already have notice in application.html.erb -->
<!--p id="notice"><%= notice %></p-->

<% str = getVideoTitleFrom(@message.link) %>
<%= str %>

<p><%= @message.date.strftime('%Y年%m月%d日') %></p>
<strong><%= @message.title %></strong>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
