<h1>Hope Chapel Home Page</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!-- Here are some mock links. I'd like to put all of these in a nice looking navbar -->
<%= link_to "Home", "#", class: "define class here" %>
<%= link_to "Programs", "#" %>
<%= link_to "Message", "#" %>
<%= link_to "Kids", "#" %>
<%= link_to "English", "#" %>
<%= link_to "Piano", "#" %>
<%= link_to "Try Art", "#" %>
<%= link_to "Dance", "#" %>
<%= link_to "Staff", "#"  %>
<%= link_to "Access", "#" %>

