<%= form_for @album, html: { class: 'form-horizontal', multipart: true } do |f| %>

  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>
      <ul>
        <% album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :title, class: 'text-field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :category, class: 'control-label' %>

    <div class="controls">
      <%= f.text_field :category, class: 'text_field' %> <!-- TODO: Make this into a select tag -->
    </div>
  </div>

  <div class="control-group">
    <%= f.label :photos, class: 'control-label' %>

    <div id="photos">
      <script>
        window.onload = function() { add_photo_input(); }
      </script>

      <% if !@album.photos.empty? %>
        <% @album.photos.each do |photo| %>
          <%= image_tag photo.image %>
          <%= link_to "delete", photo_path(photo), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")), albums_path, class: 'btn btn-mini' %>
  </div>
<% end %>
