<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @album.category %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
<br/><br/>
<% @album.photos.each do |photo| %>
  <%= photo.id %><br/>
  <%= photo.image %><br/>
  <%= photo.image_file_name %><br/><br/>
<% end %>
