<!DOCTYPE html>
<html>
  <head>
    <title>Hope English Service</title>
    <%= favicon_link_tag('favicon.ico') %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <!-- Here are some mock links. I'd like to put all of these in a nice looking navbar
    <%= link_to "Home", "#", class: "define class here" %>
    <%= link_to "Programs", "#" %>
    <%= link_to "Message", "#" %>
    <%= link_to "Kids", "#" %>
    <%= link_to "English", "#" %>
    <%= link_to "Piano", "#" %>
    <%= link_to "Try Art", "#" %>
    <%= link_to "Dance", "#" %>
    <%= link_to "Access", home_access_path %>-->


    <%= yield %>
  </body>
</html>
